@import "variables.scss";

.btn {
    padding: map-get($boton , padding);
    border: map-get($boton, bordes);
    border-radius: map-get($boton, radio);
    color: white;

    &:hover {
        color: rgb(14, 14, 14);
    }

}

.btn-primariohero {
    @extend .btn;
    background-color: $colorPrimario;
}