$colorPrimario: #d1ae44;
$colorSecundario: #6d6d6a;
$colorTerciario: rgb(236, 236, 119);
$colorBlanco: #ffffff;
$colorNegro: black;
$colorPlata: #b3b3b1;

$colores: (
    uno:red,
    dos:yellow,
    tres:gold,
);

$boton: (
    padding: 10px 20px,
    margin-left: 4px,
    bordes:0,
    radio: 15px,
    color: #fff
);